langchain
langchain-community<0.4.2
langchain-text-splitters
langchain-google-genai
langchain-groq
langgraph

chromadb
sentence-transformers

pypdf
google-cloud-aiplatform
langchain-google-vertexai

python-dotenv
ragas
datasets
pandas
